MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=master
MONGO_COLLECTION=master_articles
FROM_DATE=2025-01-01
TO_DATE=2026-07-20
MAX_PAGES_PER_SOURCE=3000
MAX_SITEMAP_URLS_PER_SOURCE=5000
MAX_DISCOVERED_LINKS_PER_SOURCE=3000
STOP_AFTER_OLD_PAGES_PER_SOURCE=10
REQUEST_DELAY_SECONDS=0.3
SAVE_RAW_HTML=false
USE_PLAYWRIGHT_EDB=true
PLAYWRIGHT_EDB_MODE=cdp
PLAYWRIGHT_EDB_PROFILE_DIR=.edge-edb-debug
PLAYWRIGHT_EDB_WAIT_MS=8000
ONLY_TOPICS=
ONLY_SOURCES=
